<p id="notice"><%= notice %></p>

<h1>Statistics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Company</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.each do |statistic| %>
      <tr>
        <td><%= statistic.name %></td>
        <td><%= statistic.description %></td>
        <td><%= statistic.company_id %></td>
        <td><%= statistic.slug %></td>
        <td><%= link_to 'Show', company_statistic_path(statistic.company, statistic) %></td>
        <td><%= link_to 'Edit', edit_company_statistic_path(statistic.company, statistic) %></td>
        <td><%= link_to 'Destroy', statistic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Statistic', new_statistic_path %>
