<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @statistic.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @statistic.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @statistic.company.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @statistic.slug %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
