<div class="row">
	<!-- Basic info section -->	
	<%= form_tag user_path, method: :put do %>
		<%= fields_for @user do |f| %>
			<div class="col-md-12">
				<div class="card">
					<div class="card-block">
						<div class="card-title">
							Basic info
						</div>
					</div>

					<ul class="list-group list-group-flush">
						<li class="list-group-item">
						    <div class="field">
						      <%= f.label :name %>
						      <%= f.text_field :name, value: current_user.name, class: 'form-control' %>
						    </div>
						</li>
						<li class="list-group-item">
						    <div class="field">
						      <%= f.label :email %>
						      <%= f.text_field :email, value: current_user.email, class: 'form-control' %>
						    </div>
						</li>
						<% if current_user.admin? %>
							<li class="list-group-item">
							    <div class="field">
							      <%= f.label :admin %>
							      <%= f.check_box :admin, value: current_user.admin, class: 'form-control' %>
							    </div>
							</li>
						<% end %>
						<li class="list-group-item">
							<%= f.submit "Update info", class: 'btn btn-primary' %>
						</li>
					</ul>
				</div>
			</div>
		<% end%>
	<% end %>
</div>