<% provide(:page_title, @company.name) %>

<div class="row">
  <div class="col-8">
    <h1><%# @company.name %></h1>
    <%= @company.address1 %>
    <%= @company.address2 %>
    <%= @company.address3 %>
    <br />
    <%= @company.city %> <%= @company.state_code %> <%= @company.zip_code %>
    <br />
    <%= link_to @company.website, @company.website %>
    <br />
    <%= @company.email %><%= @company.slug %>
  </div>
  <div class="col-4">
    Place holder for images & map
  </div>
</div>

<div class="row">
  <div class="col-4">
    Number of items:  <%= @company.items.count %>
  </div>
  <div class="col-4">
    Last release date:  <%= adjusted_datetime.strftime("%B %d, %Y at %H:%M %p") %>
  </div>
  <div class="col-4">
    Time since last release:  <%= distance_of_time_in_words(Time.now, @company.items.order(release_date: :asc).last.release_date, true) %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <% @company.items.each do |i| %>
      <%= link_to(i.name, company_item_path(i.company, i)) %> - <%=  i.release_date %>
      <br />
    <% end %>
  </div>
</div>
    
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>