<% provide(:page_title, @company.name) %>

<div class="row">
  <div class="col-12">
    <div class="card-company">
      <div class="card-block">
        <h1><%= link_to @company.name, "http://#{@company.website}" %></h1>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2>Last release</h2>
            <h5><%= (@company.items.order(release_date: :asc).last.release_date).to_datetime.strftime("%A, %B %d, %Y at %H:%M %p") %></h5>
            <h5><%= link_to @company.items.order(release_date: :asc).last.name, company_item_path(@company, @company.items.order(release_date: :asc).last)%></h5>
            <%= link_to(image_tag(@company.items.order(release_date: :asc).last.instagram_image), company_item_path(@company, @company.items.order(release_date: :asc).last)) %>
          </div>
        </div> 
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2>Time since last release</h2>
            <h5><%= distance_of_time_in_words(Time.now.utc, @company.items.order(release_date: :asc).last.release_date, true) %> ago</h5>
          </div>
        </div> 
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2># of releases by month</h2>
            <%= column_chart Item.group_by_month(:release_date, format: "%b %Y").count %>
          </div>
        </div> 
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2># of releases by day of the week</h2>
            <%= column_chart Item.group_by_day_of_week(:release_date, format: "%a").count %>
          </div>
        </div> 
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2>Releases by style</h2>
            <%= pie_chart Item.group(:style).count %>
          </div>
        </div> 
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-stat">
          <div class="card-block-stat">
            <h2>Other useless data</h2>
            # of cans sold:  x
            <br />
            Gross sales to date: $xxxxxx
            <br />
            Most popular style:  
            <br />
            Most popular hop:  
          </div>
        </div> 
      </div>

    </div>
  </div>
</div>
<br />
<br />
<br />
<%= render "items/item_card_index_listing" %>
    
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>