<% provide(:page_title, @company.name) %>

<% company_url = "http://#{@company.website}" %>

<%= link_to company_url, company_url, :class => 'small' %>

<div class="card-company row">
  <div class="col-sm-12 col-md-6">
    <div class="card-stat">
      <div class="card-block-stat">
        <h2>Last release</h2>
        <h3><%= link_to @company.items.order(release_date: :asc).last.name, company_item_path(@company, @company.items.order(release_date: :asc).last)%></h3>
        <h4><%= (@company.items.order(release_date: :asc).last.release_date).to_datetime.strftime("%A, %B %d, %Y at %H:%M %p") %></h4>
        <h5>(<%= distance_of_time_in_words(Time.now.utc, @company.items.order(release_date: :asc).last.release_date, true) %> ago)</h5>
        <%= link_to(image_tag(@company.items.order(release_date: :asc).last.instagram_image), company_item_path(@company, @company.items.order(release_date: :asc).last)) %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card-stat">
      <div class="card-block-stat">
        <h2>Previous 5 releases</h2>
        <% @items_last_5.each do |i| %>
            <h3><%= link_to truncate(i.name, :length => 45), company_item_path(@company,i) %> (<%= i.style %>): <%= i.release_date.strftime("%a, %b %d, %Y") %></h3>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card-stat">
      <div class="card-block-stat">
        <h2># of releases by month</h2>
        <%= column_chart Item.group_by_month(:release_date, format: "%b %Y").count %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card-stat">
      <div class="card-block-stat">
        <h2># of releases by day of the week</h2>
        <%= column_chart Item.group_by_day_of_week(:release_date, format: "%a").count %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <div class="card-stat">
      <div class="card-block-stat">
        <h2>Releases by style</h2>
        <%= pie_chart Item.group(:style).count %>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6">
    <%# render "companies_show_other_info" %>
  </div>
</div>


<br />
<br />
<%= render 'items/item_card_index_listing' %>
    
<% if current_user.try(:admin?) %>
  <%= link_to 'Edit', edit_company_path(@company) %> |
<% end %>
<%= link_to 'Back', companies_path %>