<%= form_with(model: item, local: true) do |form| %>
	<% if item.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

		  <ul>
		  <% item.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
	<% end %>

	<div class="row">
		<div class="col-md-12">
			<div class="card"">
			  <div class="card-block">
				<% if @item.new_record? %>
			    	<h4 class="card-title">New item</h4>
				<% else %>
					<h4 class="card-title">
						<b>Edit</b>
						<span class="thin-text"><%= @item.name %></span>
					</h4>
				<% end %>
			  </div>
			  <ul class="list-group list-group-flush">
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :number %>
				      <%= form.number_field :number, required: true, class: 'form-control', :min => '0' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :name %>
				      <%= form.text_field :name, required: true, class: 'form-control' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :description %>
				      <%= form.text_area :description, required: true, class: 'form-control' %>
				    </div>
			    </li>
			    <div class="list-group-item">
  					<%= form.label :release_date %>
  					<%= form.date_field :release_date, required: true, class: 'form-control' %>
				</div>
				<li class="list-group-item">
				    <div class="field">
				      <%= form.label :style %>
				      <%= form.text_field :style, required: true, class: 'form-control' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :abv %>
				      <%= form.number_field :abv, required: true, class: 'form-control', :step => '0.1', :min => '0' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :case_vol %>
				      <%= form.number_field :case_vol, class: 'form-control', :min => '0' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :can_limit %>
				      <%= form.number_field :can_limit, class: 'form-control', :min => '0' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :price %>
				      <%= form.number_field :price, required: true, class: 'form-control', :step => '0.01', :min => '0' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :additional %>
				      <%= form.text_field :additional, class: 'form-control' %>
				    </div>
			    </li>
			    <div class="list-group-item">
  					<%= form.label :canning_date %>
  					<%= form.date_field :canning_date, class: 'form-control' %>
				</div>
				<li class="list-group-item">
				    <div class="field">
				      <%= form.label :canning_phrase %>
				      <%= form.text_field :canning_phrase, class: 'form-control' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :label_inspiration %>
				      <%= form.text_area :label_inspiration, class: 'form-control' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="field">
				      <%= form.label :instagram_url %>
				      <%= form.text_field :instagram_url, class: 'form-control' %>
				    </div>
			    </li>
			    <li class="list-group-item">
				    <div class="dropdown">
				    	<%= form.label :company_id %>
				    	<%= form.collection_select(:company_id, @company, :id, :name, {prompt: "Select the associated company"}, {:required => true, class:'dropdown-item'}) %>
				    </div>
			    </li>
			    <li class="list-group-item">
					<div class="actions">
						<%= form.submit "Save item", class: 'btn btn-success btn-lg btn-block' %>
					</div>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="card"">
				<% if @item.persisted? %>
					<%= link_to 'Show', item %> |
				<% end %>
				<%= link_to 'Back', items_path %>
			</div>
		</div>
	</div>
  
<% end %>
