<% @items.each do |item| %>
  <div class='col-sm-6 col-lg-4'>
    <div class="card">
      <div class="card-topper" style='background-image: url(<%= item.instagram_image %>);'></div>
      <div class="card-block">
      	<h4 class="card-title"><%= link_to item.name, company_item_path(item.company, item) %></h4>
        <p class="card-text"><%= truncate(item.description, length: 130) %></p>
        <h5 class="card-title"><%= item.company.name %></h5>
        <% if current_user.try(:admin?) %>
          <%= link_to 'Edit', edit_item_path(item), class: 'btn btn-sm btn-warning' %>
          <% if item.active? %>
            <td><%= link_to 'Inactive', inactive_item_path(item), method: :put, class: 'btn btn-sm btn-primary' %></td>
          <% else %>
            <td><%= link_to 'Active', active_item_path(item), method: :put, class: 'btn btn-sm btn-success' %></td>
          <% end %>
  		    <%= link_to 'Remove', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% if current_user.try(:admin?) %>
  <%= link_to 'New Item', new_item_path %>
<% end %>