<% provide(:page_title, @item.name) %>

<div class="row">
	<div class="col-md-10 col-lg-8 text-center">
		<h1><%= @item.name %></h1>
		<h6><%= @item.release_date.strftime("%A, %B %d, %Y") %></h6>
		<%= @item.description %>
		<br />
		<br />
		<%= @item.style %>
		<br />
		<%= @item.abv %>
		<br />
		<%= @item.case_vol %>
		<br />
		<%= @item.can_limit %>
		<br />
		<%= @item.price %>
		<br />
		<%= @item.additional %>
		<br />
		<%= @item.canning_date.strftime("%A, %B %d, %Y") %>
		<br />
		<%= @item.canning_phrase %>
		<br />
		<%= @item.label_inspiration %>
		<br />
		<br />
		<br />
		<%= @item.instagram_url.html_safe %>
	</div>
</div>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>