<% provide(:page_title, @item.name) %>

<div class="row">
	<div class='col-md-8'>
		<div class="card">
			<div class="card-block">
				<h1><%= @item.name %></h1>
				<h2><%= @item.company.name %></h2>
				<h6><%= @item.release_date.strftime("%A, %B %d, %Y") %></h6>
			</div>
			<div class="card-block">
				<%= @item.abv %>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="card">
			<div class="card-block">
				<%= @item.instagram_embed.html_safe %>
			</div>
		</div>
	</div>
</div>
		

<% if current_user.try(:admin?) %>
	<%= link_to 'Edit', edit_item_path(@item) %> |
<% end %>
<%= link_to 'Back', items_path %>